.stayContainer{
    margin:30px;
}

.stayHeading{
    text-align:center;
}

.stayImageContainer{
    display: flex;
    justify-content: space-around;
}

.stayImage{
    display: block;
    height: 150px;
    width: 250px;
    background-size: contain;
}

